[defaults]
remote_user = devops
ask_pass = false
inventory = ./inventory
roles_path = ./roles:/usr/share/ansible/roles
collections_path = ./collections:/usr/share/ansible/collections
host_key_checking = false
private_key_file = $HOME/.ssh/new-controller


[privilege_escalation]
become = true
become_user = root
become_method = sudo
become_ask_pass = false
